.faq {
	$self: &;

	&__inner {

	}

	&__title {
		text-align: center;
	}
	
	&__items {
		display: flex;
		flex-flow: column nowrap;
		gap: 30px;
	}
	
	&__item {
		display: block;
		box-sizing: border-box;
		padding: 20px;
		border-radius: 10px;
		border: 1px solid #5d5d5d;
	}
	
	&__question {
		position: relative;
		font-size: 22px;
		font-weight: 500;
		color: #fff;
		padding-right: 60px;
		color: rgb(var(--accent));
		cursor: pointer;

		@include media('<=xxs') {
			font-size: 20px;
		}

		&.opened {
			&::after {
				transform: translateY(-50%);
			}

			& + #{$self}__body {
				display: block;
			}
		}

		&::after {
			display: block;
			box-sizing: border-box;
			content: '';
			width: 40px;
			height: 40px;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%) rotate(-90deg);
			transition: transform 0.3s;
			border: 1px solid rgb(var(--accent));
			border-radius: 100px;
			background: svg-url('<svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.14286 1.22565C1.53249 0.834241 2.16566 0.832807 2.55707 1.22245L10.0003 8.63205L17.4436 1.22245C17.835 0.832807 18.4681 0.834241 18.8578 1.22565C19.2474 1.61706 19.246 2.25022 18.8546 2.63986L10.7058 10.7518C10.3157 11.1402 9.68496 11.1402 9.2948 10.7518L1.14606 2.63986C0.754651 2.25022 0.753217 1.61706 1.14286 1.22565Z" fill="white"/></svg>') center top 14px / 20px 12px no-repeat transparent;
		}
	}

	&__body {
		display: none;
	}

	&__answer {
		padding-top: 20px;
		color: #aaa;
		line-height: 1.3;
		font-size: 17px;
		
		@include media('<=sm') {
			font-size: 16px;
		}
		
		@include media('<=xxs') {
			font-size: 15px;
			line-height: 1.4;
		}

		p {
			margin: 0;
			
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}
}