.add {
	$self: &;
	padding-top: 60px;
	
	@include media('<=xs') {
		padding-top: 45px;
	}
	
	@include media('<=xxxs') {
		padding-top: 35px;
	}

	&__inner {

	}

	&__title {
		text-align: center;
	}

	&__properties {

	}
	
	&__fields {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 30px;
		
		@include media('<=sm') {
			grid-gap: 20px;
		}
		
		@include media('<=xs') {
			grid-template-columns: 1fr;
		}
	}

	&__field {
		grid-column: span 1;
	}

	&__pictures {

	}

	&__description {

	}

	&__submit {
		margin: 0 auto;

		&.button {

			@include media('<=md') {
				min-height: 50px;
				font-size: 20px;
			}

			@include media('<=xxs') {
				font-size: 18px;
				width: 100%;
				padding: 8px 16px 6px 16px;
			}
		}
	}
}