<footer class="footer"> 
	<div class="footer__inner container">
		<a class="footer__logo" href="./"><svg><use xlink:href="#icon-logo"></use></svg></a>
		<div class="footer__menu">
			<a href="./">Каталог</a>
			<a href="./">О нас</a>
			<a href="./">FAQ</a>
			<a href="./">Контакты</a>
		</div>
		<div class="footer__bottom">
			<div class="footer__social">
				<a href="./"><svg><use xlink:href="#icon-inst"></use></svg></a>
				<a href="./"><svg><use xlink:href="#icon-tgrm"></use></svg></a>
				<a href="./"><svg><use xlink:href="#icon-yout"></use></svg></a>
			</div>
			<div class="footer__address">
				<a href="./">г. Минск, ул Вещинского, д. 4</a>
				<a href="./">+375 39 357 55 35</a>
			</div>
		</div>
	</div>
</footer> 

@@include("_sprite.svg")
<script src="common.js"></script> 
</body> 
</html>