<header class="header @@if(this.mod){header_@@mod}" data-scroll-lock-fill-gap>
	<div class="header__inner container">
		<a class="header__logo" href="./"><img src="./images/logo.svg" alt=""></a>
		<div class="header__navi">
			<button class="header__close"><svg><use xlink:href="#icon-close"></use></svg></button>
			<div class="header__menu" data-scroll-lock-scrollable>
				<div class="header__menu-links">
					<a class="header__menu-link" href="./">Каталог</a>
					<a class="header__menu-link" href="./">О нас</a>
					<a class="header__menu-link" href="./">FAQ</a>
					<a class="header__menu-link" href="./">Контакты</a>
					<a class="header__menu-link" href="./">Избранное</a>
					<a class="header__menu-link" href="./">Аккаунт</a>
				</div>
				<div class="header__menu-util">
					<a class="header__menu-enter" href="./"><svg><use xlink:href="#icon-enter"></use></svg></a>
					<a class="header__menu-exit" href="./"><svg><use xlink:href="#icon-exit"></use></svg></a>
					<form action="./" class="header__menu-search search">
						<input type="text">
						<button type="submit"><svg><use xlink:href="#icon-zoom"></use></svg></a></button>
					</form>
				</div>
			</div>
		</div>
		<button class="header__toggle"><svg><use xlink:href="#icon-menu"></use></svg></button>
	</div>
</header>