.search {
	$self: &;

	input[type='text'] {
		@extend %reset-input;
	}

	button[type='submit'] {
		@extend %reset-button;
		flex-shrink: 0;
		width: 26px;
		height: 26px;

		svg {
			display: block;
			fill: #fff;
			width: 100%;
			max-width: 100%;
			max-height: 100%;
		}
	}
}
